# 1-Data preparation

## 1-1-Import data

In [ ]:
import pandas as pd

In [5]:
data = pd.read_csv('loan-default-iter2.csv', index_col='id')
data

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f92,f93,f94,f95,f96,f97,f98,f99,f100,loss
id,,,,,,,,,,,,,,,,,,,,,
1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,126.03,...,0.15,0.01,0.12,851.0,851.0,851.0,851.0,0.32,1.34,0
2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,121.35,...,0.29,0.09,0.08,20.0,20.0,20.0,20.0,0.28,1.43,0
3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,126.49,...,0.01,0.00,0.07,124.0,124.0,124.0,124.0,0.25,1.52,0
4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,133.58,...,0.01,0.00,0.12,903.0,903.0,903.0,903.0,0.32,1.35,0
5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,112.77,...,0.51,0.90,0.06,5.0,5.0,5.0,5.0,0.23,1.56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79996,117,8,0.071314,1300,4,76831,4614.0,3102.0,120.50,117.52,...,0.26,0.09,0.09,422.0,422.0,422.0,422.0,0.29,1.41,0
79997,125,8,0.793560,1300,4,83549,1205.0,2950.0,124.11,124.77,...,0.03,0.00,0.10,117.0,117.0,117.0,117.0,0.30,1.37,0
79998,120,8,0.081656,1300,4,2572,6943.0,3734.0,122.16,120.45,...,0.08,0.00,0.10,671.0,671.0,671.0,671.0,0.30,1.37,0
79999,125,8,0.600110,1500,4,12421,4194.0,815.0,125.50,125.03,...,0.02,0.00,0.08,343.0,343.0,343.0,343.0,0.27,1.48,0
80000,130,8,0.353588,1500,4,14629,7818.0,2583.0,128.91,129.72,...,0.01,0.00,0.10,787.0,787.0,787.0,787.0,0.30,1.39,9

## 1-2-create category paid/not paid

In [6]:
# function : paid/not paid based on loss
def convert_to_categorical(col): 
    if col == 0: 
        return 'paid' 
    else: 
        return 'not paid'
data['target'] = data['loss'].apply(convert_to_categorical)

In [7]:
import numpy as np
data['target'] = data['loss'].apply(convert_to_categorical)
data.target.value_counts()
# too many paid! not good for training the model!

paid        72703
not paid     7297
Name: target, dtype: int64

## 1-3-Drop columns with all zeros

In [8]:
# check columns with all zeros
is_filled_with_0 ={}
for column in data.columns[0:-2]:
    is_filled_with_0.update({column:data[data[column]==0].shape[0] == len(data)})
is_filled_with_0

{'f1': False,
 'f2': False,
 'f3': False,
 'f4': False,
 'f5': False,
 'f6': False,
 'f7': False,
 'f8': False,
 'f9': False,
 'f10': False,
 'f13': False,
 'f14': False,
 'f15': False,
 'f16': False,
 'f17': False,
 'f18': False,
 'f19': False,
 'f20': False,
 'f21': False,
 'f22': False,
 'f23': False,
 'f24': False,
 'f25': False,
 'f26': False,
 'f27': False,
 'f28': False,
 'f29': False,
 'f30': False,
 'f31': False,
 'f32': False,
 'f33': True,
 'f34': True,
 'f35': True,
 'f36': False,
 'f37': True,
 'f38': True,
 'f39': False,
 'f40': False,
 'f41': False,
 'f42': False,
 'f43': False,
 'f44': False,
 'f45': False,
 'f46': False,
 'f47': False,
 'f48': False,
 'f49': False,
 'f50': False,
 'f51': False,
 'f52': False,
 'f53': False,
 'f54': False,
 'f55': False,
 'f56': False,
 'f57': False,
 'f58': False,
 'f59': False,
 'f60': False,
 'f61': False,
 'f62': False,
 'f63': False,
 'f64': False,
 'f65': False,
 'f66': False,
 'f67': False,
 'f68': False,
 'f69': False,
 'f70': False,
 'f71': False,
 'f72': False,
 'f73': False,
 'f74': False,
 'f75': False,
 'f76': False,
 'f77': False,
 'f78': False,
 'f79': False,
 'f80': False,
 'f81': False,
 'f82': False,
 'f83': False,
 'f84': False,
 'f85': False,
 'f86': False,
 'f87': False,
 'f88': False,
 'f89': False,
 'f90': False,
 'f91': False,
 'f92': False,
 'f93': False,
 'f94': False,
 'f95': False,
 'f96': False,
 'f97': False,
 'f98': False,
 'f99': False,
 'f100': False}

In [9]:
# drop columns with all zeros
for key in is_filled_with_0.keys():
    if is_filled_with_0[key] == True:
        data.drop(key,axis=1,inplace=True)

## 1-4-Drop columns too many zeros(>70%)

In [10]:
# check null values, % in each column
null_values = (data.iloc[:,0:-2] == 0).sum(axis=0)/data.shape[0]*100
null_values.sort_values(ascending=False).head(30)

f83    73.85000
f93    73.64875
f70    11.07000
f69    10.23250
f30    10.03625
f29    10.03625
f27    10.03625
f24    10.03625
f28    10.03625
f18    10.00750
f15     9.98125
f14     9.92500
f17     9.88500
f20     9.57625
f25     8.79875
f22     8.67625
f21     8.47500
f32     4.96750
f72     2.60500
f40     2.09875
f50     1.91125
f89     1.49625
f87     1.49250
f84     1.49250
f85     1.49250
f86     1.49250
f88     1.49250
f99     1.39250
f94     1.38250
f97     1.38250
dtype: float64

In [11]:
# drop columns f83, f93 - too many zeros
data.drop(['f83','f93'],axis=1,inplace=True)

## 1-5-Drop duplicates

In [12]:
data.drop_duplicates()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f92,f94,f95,f96,f97,f98,f99,f100,loss,target
id,,,,,,,,,,,,,,,,,,,,,
1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,126.03,...,0.15,0.12,851.0,851.0,851.0,851.0,0.32,1.34,0,paid
2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,121.35,...,0.29,0.08,20.0,20.0,20.0,20.0,0.28,1.43,0,paid
3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,126.49,...,0.01,0.07,124.0,124.0,124.0,124.0,0.25,1.52,0,paid
4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,133.58,...,0.01,0.12,903.0,903.0,903.0,903.0,0.32,1.35,0,paid
5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,112.77,...,0.51,0.06,5.0,5.0,5.0,5.0,0.23,1.56,0,paid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79996,117,8,0.071314,1300,4,76831,4614.0,3102.0,120.50,117.52,...,0.26,0.09,422.0,422.0,422.0,422.0,0.29,1.41,0,paid
79997,125,8,0.793560,1300,4,83549,1205.0,2950.0,124.11,124.77,...,0.03,0.10,117.0,117.0,117.0,117.0,0.30,1.37,0,paid
79998,120,8,0.081656,1300,4,2572,6943.0,3734.0,122.16,120.45,...,0.08,0.10,671.0,671.0,671.0,671.0,0.30,1.37,0,paid
79999,125,8,0.600110,1500,4,12421,4194.0,815.0,125.50,125.03,...,0.02,0.08,343.0,343.0,343.0,343.0,0.27,1.48,0,paid
80000,130,8,0.353588,1500,4,14629,7818.0,2583.0,128.91,129.72,...,0.01,0.10,787.0,787.0,787.0,787.0,0.30,1.39,9,not paid

## 1-6-Check correlation

In [13]:
data_temp = data.copy()
data_temp['target_num'] = np.where(data['loss']>0, 1, 0)

correlation_matrix = data_temp.corr()
correlation_matrix

In [22]:
# check corr between param -> close to 1->corr with loss if it is the same, remove less correlated to loss
correlation_matrix['loss'].sort_values().head(30)

f70   -0.009878
f69   -0.009250
f36   -0.007223
f74   -0.007221
f52   -0.007196
f58   -0.007194
f42   -0.007194
f62   -0.007034
f1    -0.006955
f48   -0.006954
f82   -0.006608
f10   -0.006536
f84   -0.005659
f9    -0.005198
f89   -0.004563
f4    -0.004084
f8    -0.003905
f6    -0.003529
f86   -0.003167
f87   -0.003167
f88   -0.003167
f85   -0.003167
f54   -0.002958
f64   -0.002407
f44   -0.002280
f98   -0.002276
f96   -0.002276
f97   -0.002276
f95   -0.002276
f92   -0.002047
Name: loss, dtype: float64

In [34]:
# many features have correlation > 0.9!
list_corr = []
for row in correlation_matrix.index:
    for col in list(correlation_matrix.columns):
        if abs(correlation_matrix.loc[row,col]) > 0.9 and row != col:
            list_corr.append([row,col,correlation_matrix.loc[row,col]])
list_corr

[['f1', 'f9', 0.9741109813268337],
 ['f1', 'f10', 0.9987444992933321],
 ['f7', 'f78', 0.9881538847206764],
 ['f7', 'f79', 0.9754388074186067],
 ['f7', 'f95', 0.9519208112922621],
 ['f7', 'f96', 0.9519208112922621],
 ['f7', 'f97', 0.9519208112922621],
 ['f7', 'f98', 0.9519208112922621],
 ['f9', 'f1', 0.9741109813268337],
 ['f9', 'f10', 0.9834956121795879],
 ['f10', 'f1', 0.9987444992933321],
 ['f10', 'f9', 0.9834956121795879],
 ['f13', 'f68', 0.9421821915281068],
 ['f14', 'f15', 0.9798737119953536],
 ['f14', 'f17', 0.9855264795066454],
 ['f14', 'f18', 0.9299801297829013],
 ['f14', 'f20', 0.9626250063243184],
 ['f14', 'f21', 0.9775498392137574],
 ['f14', 'f22', 0.9823625744570326],
 ['f14', 'f24', 0.9828618181906823],
 ['f14', 'f28', 0.9413514319980961],
 ['f14', 'f30', 0.9484772262176516],
 ['f14', 'f40', 0.9235351836172128],
 ['f14', 'f46', 0.9549740512242658],
 ['f14', 'f50', 0.9748100413969607],
 ['f14', 'f60', 0.9613276847420534],
 ['f15', 'f14', 0.9798737119953536],
 ['f15', 'f17', 0.9709889909625202],
 ['f15', 'f18', 0.948247626990623],
 ['f15', 'f20', 0.9603550814293029],
 ['f15', 'f21', 0.956992550945568],
 ['f15', 'f22', 0.9623551325376901],
 ['f15', 'f24', 0.9620433432002398],
 ['f15', 'f28', 0.9139696944730462],
 ['f15', 'f30', 0.9217980571823061],
 ['f15', 'f40', 0.942819359024148],
 ['f15', 'f46', 0.9368551152634622],
 ['f15', 'f50', 0.9956642702393367],
 ['f15', 'f60', 0.943575549550892],
 ['f17', 'f14', 0.9855264795066454],
 ['f17', 'f15', 0.9709889909625202],
 ['f17', 'f18', 0.9348180081281887],
 ['f17', 'f20', 0.9685032852981549],
 ['f17', 'f21', 0.9865314639561783],
 ['f17', 'f22', 0.9924713809100385],
 ['f17', 'f24', 0.9917738459689721],
 ['f17', 'f28', 0.9430700247674514],
 ['f17', 'f30', 0.9507105636583235],
 ['f17', 'f40', 0.9293113795770259],
 ['f17', 'f46', 0.9652611496910106],
 ['f17', 'f50', 0.9665395732810241],
 ['f17', 'f60', 0.9728988034525562],
 ['f18', 'f14', 0.9299801297829013],
 ['f18', 'f15', 0.948247626990623],
 ['f18', 'f17', 0.9348180081281887],
 ['f18', 'f20', 0.9468439335529687],
 ['f18', 'f21', 0.9040648664196047],
 ['f18', 'f22', 0.9118452309627145],
 ['f18', 'f24', 0.9095371140765256],
 ['f18', 'f40', 0.9958122858778299],
 ['f18', 'f50', 0.9466847024163936],
 ['f19', 'f56', 0.9956457005286565],
 ['f20', 'f14', 0.9626250063243184],
 ['f20', 'f15', 0.9603550814293029],
 ['f20', 'f17', 0.9685032852981549],
 ['f20', 'f18', 0.9468439335529687],
 ['f20', 'f21', 0.958581431083505],
 ['f20', 'f22', 0.9615966607756282],
 ['f20', 'f24', 0.9601787349625068],
 ['f20', 'f28', 0.9078103437588011],
 ['f20', 'f30', 0.91808014374016],
 ['f20', 'f40', 0.9411976539440329],
 ['f20', 'f46', 0.9417085120705323],
 ['f20', 'f50', 0.9565761523399767],
 ['f20', 'f60', 0.9455918749280522],
 ['f21', 'f14', 0.9775498392137574],
 ['f21', 'f15', 0.956992550945568],
 ['f21', 'f17', 0.9865314639561783],
 ['f21', 'f18', 0.9040648664196047],
 ['f21', 'f20', 0.958581431083505],
 ['f21', 'f22', 0.9932775092285465],
 ['f21', 'f24', 0.9898500504608445],
 ['f21', 'f28', 0.9460064044107442],
 ['f21', 'f30', 0.953746123788998],
 ['f21', 'f46', 0.995639972908426],
 ['f21', 'f50', 0.9509318984298015],
 ['f21', 'f60', 0.9875660737406204],
 ['f22', 'f14', 0.9823625744570326],
 ['f22', 'f15', 0.9623551325376901],
 ['f22', 'f17', 0.9924713809100385],
 ['f22', 'f18', 0.9118452309627145],
 ['f22', 'f20', 0.9615966607756282],
 ['f22', 'f21', 0.9932775092285465],
 ['f22', 'f24', 0.9945855039387624],
 ['f22', 'f28', 0.9453274876922801],
 ['f22', 'f30', 0.9541184413871959],
 ['f22', 'f40', 0.9044461335433759],
 ['f22', 'f46', 0.9862166490884201],
 ['f22', 'f50', 0.9568612596055206],
 ['f22', 'f60', 0.9956499874819609],
 ['f24', 'f14', 0.9828618181906823],
 ['f24', 'f15', 0.9620433432002398],
 ['f24', 'f17', 0.9917738459689721],
 ['f24', 'f18', 0.9095371140765256],
 ['f24', 'f20', 0.9601787349625068],
 ['f24', 'f21', 0.9898500504608445],
 ['f24', 'f22', 0.9945855039387624],
 ['f24', 'f28', 0.9643152528716091],
 ['f24', 'f30', 0.9679074939408499],
 ['f24', 'f40', 0.9024364008741601],
 ['f24', 'f46', 0.9635007474992224],
 ['f24', 'f50', 0.9557755453295002],
 ['f24', 'f60', 0.9702076684053283],
 ['f27', 'f28', 0.9638096290724504],
 ['f27', 'f29', 0.9409155099951676],
 ['f27', 'f30', 0.9271907090952237],
 ['f28', 'f14', 0.9413514319980961],
 ['f28', 'f15', 0.9139696944730462],
 ['f28', 'f17', 0.9430700247674514],
 ['f28', 'f20', 0.9078103437588011],
 ['f28', 'f21', 0.9460064044107442],
 ['f28', 'f22', 0.9453274876922801],
 ['f28', 'f24', 0.9643152528716091],
 ['f28', 'f27', 0.9638096290724504],
 ['f28', 'f29', 0.9445860213838323],
 ['f28', 'f30', 0.9830469975654805],
 ['f28', 'f46', 0.9140138660455387],
 ['f28', 'f50', 0.9003467607580226],
 ['f28', 'f60', 0.91491980190201],
 ['f29', 'f27', 0.9409155099951676],
 ['f29', 'f28', 0.9445860213838323],
 ['f29', 'f30', 0.9710871596319596],
 ['f30', 'f14', 0.9484772262176516],
 ['f30', 'f15', 0.9217980571823061],
 ['f30', 'f17', 0.9507105636583235],
 ['f30', 'f20', 0.91808014374016],
 ['f30', 'f21', 0.953746123788998],
 ['f30', 'f22', 0.9541184413871959],
 ['f30', 'f24', 0.9679074939408499],
 ['f30', 'f27', 0.9271907090952237],
 ['f30', 'f28', 0.9830469975654805],
 ['f30', 'f29', 0.9710871596319596],
 ['f30', 'f46', 0.9241855028372886],
 ['f30', 'f50', 0.9101919733653323],
 ['f30', 'f60', 0.9261085953975067],
 ['f32', 'f64', 0.9953949682485468],
 ['f36', 'f42', 0.9999578226693351],
 ['f36', 'f48', 0.9885661468022697],
 ['f36', 'f52', 0.9999333230942781],
 ['f36', 'f58', 0.9999578226693351],
 ['f36', 'f62', 0.9889677261436355],
 ['f36', 'f74', 0.9999977210960375],
 ['f39', 'f40', 0.9268138119267769],
 ['f39', 'f49', 0.9551721723869143],
 ['f40', 'f14', 0.9235351836172128],
 ['f40', 'f15', 0.942819359024148],
 ['f40', 'f17', 0.9293113795770259],
 ['f40', 'f18', 0.9958122858778299],
 ['f40', 'f20', 0.9411976539440329],
 ['f40', 'f22', 0.9044461335433759],
 ['f40', 'f24', 0.9024364008741601],
 ['f40', 'f39', 0.9268138119267769],
 ['f40', 'f50', 0.9491924042932389],
 ['f41', 'f51', 0.9590260730182696],
 ['f42', 'f36', 0.9999578226693351],
 ['f42', 'f48', 0.9885945132031588],
 ['f42', 'f52', 0.999980755473843],
 ['f42', 'f58', 1.0],
 ['f42', 'f62', 0.9890062472370174],
 ['f42', 'f74', 0.9999601652339931],
 ['f43', 'f53', 0.958335600879579],
 ['f45', 'f46', 0.918224011349177],
 ['f45', 'f49', 0.9396569233264591],
 ['f45', 'f59', 0.9911319425113759],
 ['f45', 'f60', 0.9130245039401628],
 ['f46', 'f14', 0.9549740512242658],
 ['f46', 'f15', 0.9368551152634622],
 ['f46', 'f17', 0.9652611496910106],
 ['f46', 'f20', 0.9417085120705323],
 ['f46', 'f21', 0.995639972908426],
 ['f46', 'f22', 0.9862166490884201],
 ['f46', 'f24', 0.9635007474992224],
 ['f46', 'f28', 0.9140138660455387],
 ['f46', 'f30', 0.9241855028372886],
 ['f46', 'f45', 0.918224011349177],
 ['f46', 'f50', 0.9389204811427905],
 ['f46', 'f59', 0.9082517740239067],
 ['f46', 'f60', 0.9892183832523103],
 ['f47', 'f61', 0.9856849551228775],
 ['f48', 'f36', 0.9885661468022697],
 ['f48', 'f42', 0.9885945132031588],
 ['f48', 'f52', 0.9886706138553846],
 ['f48', 'f58', 0.9885945132031588],
 ['f48', 'f62', 0.9997287158513097],
 ['f48', 'f74', 0.9885716244130747],
 ['f49', 'f39', 0.9551721723869143],
 ['f49', 'f45', 0.9396569233264591],
 ['f49', 'f50', 0.9206951727428204],
 ['f49', 'f59', 0.9468495345292596],
 ['f50', 'f14', 0.9748100413969607],
 ['f50', 'f15', 0.9956642702393367],
 ['f50', 'f17', 0.9665395732810241],
 ['f50', 'f18', 0.9466847024163936],
 ['f50', 'f20', 0.9565761523399767],
 ['f50', 'f21', 0.9509318984298015],
 ['f50', 'f22', 0.9568612596055206],
 ['f50', 'f24', 0.9557755453295002],
 ['f50', 'f28', 0.9003467607580226],
 ['f50', 'f30', 0.9101919733653323],
 ['f50', 'f40', 0.9491924042932389],
 ['f50', 'f46', 0.9389204811427905],
 ['f50', 'f49', 0.9206951727428204],
 ['f50', 'f60', 0.9459686903911895],
 ['f51', 'f41', 0.9590260730182696],
 ['f52', 'f36', 0.9999333230942781],
 ['f52', 'f42', 0.999980755473843],
 ['f52', 'f48', 0.9886706138553846],
 ['f52', 'f58', 0.9999807554738431],
 ['f52', 'f62', 0.9890767122413827],
 ['f52', 'f74', 0.9999358333748615],
 ['f53', 'f43', 0.958335600879579],
 ['f55', 'f56', 0.9244282789420065],
 ['f56', 'f19', 0.9956457005286565],
 ['f56', 'f55', 0.9244282789420065],
 ['f58', 'f36', 0.9999578226693351],
 ['f58', 'f42', 1.0],
 ['f58', 'f48', 0.9885945132031588],
 ['f58', 'f52', 0.9999807554738431],
 ['f58', 'f62', 0.9890062472370174],
 ['f58', 'f74', 0.9999601652339931],
 ['f59', 'f45', 0.9911319425113759],
 ['f59', 'f46', 0.9082517740239067],
 ['f59', 'f49', 0.9468495345292596],
 ['f59', 'f60', 0.9186820044566724],
 ['f60', 'f14', 0.9613276847420534],
 ['f60', 'f15', 0.943575549550892],
 ['f60', 'f17', 0.9728988034525562],
 ['f60', 'f20', 0.9455918749280522],
 ['f60', 'f21', 0.9875660737406204],
 ['f60', 'f22', 0.9956499874819609],
 ['f60', 'f24', 0.9702076684053283],
 ['f60', 'f28', 0.91491980190201],
 ['f60', 'f30', 0.9261085953975067],
 ['f60', 'f45', 0.9130245039401628],
 ['f60', 'f46', 0.9892183832523103],
 ['f60', 'f50', 0.9459686903911895],
 ['f60', 'f59', 0.9186820044566724],
 ['f61', 'f47', 0.9856849551228775],
 ['f62', 'f36', 0.9889677261436355],
 ['f62', 'f42', 0.9890062472370174],
 ['f62', 'f48', 0.9997287158513097],
 ['f62', 'f52', 0.9890767122413827],
 ['f62', 'f58', 0.9890062472370174],
 ['f62', 'f74', 0.9889779000273929],
 ['f63', 'f64', 0.9156129392553163],
 ['f64', 'f32', 0.9953949682485468],
 ['f64', 'f63', 0.9156129392553163],
 ['f68', 'f13', 0.9421821915281068],
 ['f69', 'f70', 0.9394635582566432],
 ['f70', 'f69', 0.9394635582566432],
 ['f74', 'f36', 0.9999977210960375],
 ['f74', 'f42', 0.9999601652339931],
 ['f74', 'f48', 0.9885716244130747],
 ['f74', 'f52', 0.9999358333748615],
 ['f74', 'f58', 0.9999601652339931],
 ['f74', 'f62', 0.9889779000273929],
 ['f75', 'f76', 0.9083122384266441],
 ['f76', 'f75', 0.9083122384266441],
 ['f78', 'f7', 0.9881538847206764],
 ['f78', 'f79', 0.9960323704266475],
 ['f79', 'f7', 0.9754388074186067],
 ['f79', 'f78', 0.9960323704266475],
 ['f84', 'f89', 0.9038995017904177],
 ['f84', 'f90', -0.944328800845107],
 ['f84', 'f91', -0.9080083160129507],
 ['f85', 'f86', 1.0],
 ['f85', 'f87', 1.0],
 ['f85', 'f88', 1.0],
 ['f85', 'f95', 0.9772297055944413],
 ['f85', 'f96', 0.9772297055944413],
 ['f85', 'f97', 0.9772297055944413],
 ['f85', 'f98', 0.9772297055944413],
 ['f86', 'f85', 1.0],
 ['f86', 'f87', 1.0],
 ['f86', 'f88', 1.0],
 ['f86', 'f95', 0.9772297055944413],
 ['f86', 'f96', 0.9772297055944413],
 ['f86', 'f97', 0.9772297055944413],
 ['f86', 'f98', 0.9772297055944413],
 ['f87', 'f85', 1.0],
 ['f87', 'f86', 1.0],
 ['f87', 'f88', 1.0],
 ['f87', 'f95', 0.9772297055944413],
 ['f87', 'f96', 0.9772297055944413],
 ['f87', 'f97', 0.9772297055944413],
 ['f87', 'f98', 0.9772297055944413],
 ['f88', 'f85', 1.0],
 ['f88', 'f86', 1.0],
 ['f88', 'f87', 1.0],
 ['f88', 'f95', 0.9772297055944413],
 ['f88', 'f96', 0.9772297055944413],
 ['f88', 'f97', 0.9772297055944413],
 ['f88', 'f98', 0.9772297055944413],
 ['f89', 'f84', 0.9038995017904177],
 ['f89', 'f90', -0.9832602069103158],
 ['f89', 'f91', -0.9808049137859277],
 ['f90', 'f84', -0.944328800845107],
 ['f90', 'f89', -0.9832602069103158],
 ['f90', 'f91', 0.9863938022934737],
 ['f91', 'f84', -0.9080083160129507],
 ['f91', 'f89', -0.9808049137859277],
 ['f91', 'f90', 0.9863938022934737],
 ['f94', 'f100', -0.9534765906576104],
 ['f95', 'f7', 0.9519208112922621],
 ['f95', 'f85', 0.9772297055944413],
 ['f95', 'f86', 0.9772297055944413],
 ['f95', 'f87', 0.9772297055944413],
 ['f95', 'f88', 0.9772297055944413],
 ['f95', 'f96', 1.0],
 ['f95', 'f97', 1.0],
 ['f95', 'f98', 1.0],
 ['f96', 'f7', 0.9519208112922621],
 ['f96', 'f85', 0.9772297055944413],
 ['f96', 'f86', 0.9772297055944413],
 ['f96', 'f87', 0.9772297055944413],
 ['f96', 'f88', 0.9772297055944413],
 ['f96', 'f95', 1.0],
 ['f96', 'f97', 1.0],
 ['f96', 'f98', 1.0],
 ['f97', 'f7', 0.9519208112922621],
 ['f97', 'f85', 0.9772297055944413],
 ['f97', 'f86', 0.9772297055944413],
 ['f97', 'f87', 0.9772297055944413],
 ['f97', 'f88', 0.9772297055944413],
 ['f97', 'f95', 1.0],
 ['f97', 'f96', 1.0],
 ['f97', 'f98', 1.0],
 ['f98', 'f7', 0.9519208112922621],
 ['f98', 'f85', 0.9772297055944413],
 ['f98', 'f86', 0.9772297055944413],
 ['f98', 'f87', 0.9772297055944413],
 ['f98', 'f88', 0.9772297055944413],
 ['f98', 'f95', 1.0],
 ['f98', 'f96', 1.0],
 ['f98', 'f97', 1.0],
 ['f99', 'f100', -0.9859497577108258],
 ['f100', 'f94', -0.9534765906576104],
 ['f100', 'f99', -0.9859497577108258]]

## 1-7-Balance initial data set

In [115]:
data.target.value_counts()

paid        72703
not paid     7297
Name: target, dtype: int64

In [114]:
# how many not paid ?
data_not_paid = data[data['target'] == 'not paid']
lenth_not_paid = len(data_not_paid)

In [116]:
# take the same number like not paid in paid
data_paid = data[data['target'] == 'paid'].iloc[0:lenth_not_paid,:]

In [117]:
# connect paid/not paid and shuffle
data_50_50 = pd.concat([data_paid, data_not_paid], ignore_index=True)
data_50_50 = data_50_50.sample(frac=1).reset_index(drop=True)

## 1-8-Split data

In [118]:
# split balanced data 
from sklearn.model_selection import train_test_split

X_col = data.columns[0:-2]
y_col = 'target'

X = data_50_50[X_col]
y = data_50_50[y_col]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [119]:
# replace missing values with mean (from X_train) values 
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
imputer.fit(X_train)

X_train_transf = imputer.transform(X_train)
X_test_transf = imputer.transform(X_test)

# make dataframe (after splitting it is not a dataframe)
X_train = pd.DataFrame(X_train_transf, 
                                 columns=X_train.columns,
                                 index=X_train.index)
X_test = pd.DataFrame(X_test_transf, 
                                 columns=X_test.columns,
                                 index=X_test.index)

## 1-9-Normalize data

In [141]:
# min an max scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
scaler.fit(X_train)

X_train_sc = pd.DataFrame(scaler.transform(X_train))
X_train_sc.columns = X_train.columns

X_test_sc = pd.DataFrame(scaler.transform(X_test))
X_test_sc.columns = X_test.columns

# 2-Applying models

## 2-1-Decision tree

In [133]:
# create a function to check the metrics
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score

def model_check(y_true, y_pred, model): 
    acc_sc = accuracy_score(y_true, y_pred)
    #recall_sc= recall_score(y_true, y_pred)
    print('Accuracy :', acc_sc) 
    #print('Recall :', recall_sc)
    conf_matrix = pd.DataFrame(confusion_matrix(y_true, y_pred))
    conf_matrix.set_index(model.classes_, inplace=True)
    conf_matrix.columns = model.classes_
    return conf_matrix

In [142]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(max_depth=5)

tree.fit(X_train_sc, y_train)

DecisionTreeClassifier(max_depth=5)

In [143]:
# train
model_check(y_train, tree.predict(X_train_sc), tree)

Accuracy : 0.714846962083143

          not paid  paid
not paid      3556  1941
paid          1180  4268

In [144]:
# test
model_check(y_test, tree.predict(X_test_sc), tree)

Accuracy : 0.7070430254864346

          not paid  paid
not paid      1127   673
paid           396  1453

## 2-2-KNN - K Nearest Neighbors

In [145]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=10)

knn.fit(X_train_sc, y_train)

KNeighborsClassifier(n_neighbors=10)

In [146]:
# train 
model_check(y_train, knn.predict(X_train_sc), knn)

Accuracy : 0.7371402466879854

          not paid  paid
not paid      4231  1266
paid          1611  3837

In [147]:
# test
model_check(y_test, knn.predict(X_test_sc), knn)

Accuracy : 0.6799123047410249

          not paid  paid
not paid      1287   513
paid           655  1194

## 2-3-Logistic regression

In [149]:
from sklearn.linear_model import LogisticRegression

In [155]:
lg = LogisticRegression()
# Error while inserting scaled data
lg.fit(X_train, y_train)

LogisticRegression()

In [156]:
# train
model_check(y_train, lg.predict(X_train), lg)

Accuracy : 0.54792142530836

          not paid  paid
not paid      3319  2178
paid          2770  2678

In [157]:
# test
model_check(y_test, lg.predict(X_test), lg)

Accuracy : 0.5426144149081941

          not paid  paid
not paid      1063   737
paid           932   917

## 2-4-Random Forest

In [162]:
from sklearn.ensemble import RandomForestClassifier

In [163]:
rf = RandomForestClassifier(max_depth=6, random_state=42)

In [164]:
rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=6, random_state=42)

In [165]:
# train
model_check(y_train, rf.predict(X_train), rf)

Accuracy : 0.7512105984467794

          not paid  paid
not paid      3935  1562
paid          1161  4287

In [166]:
# test
model_check(y_test, rf.predict(X_test), rf)

Accuracy : 0.7169087421211291

          not paid  paid
not paid      1242   558
paid           475  1374

## 2-5-Support Vector Machine

In [169]:
from sklearn.svm import SVC

In [170]:
svm = SVC(probability=True)

In [171]:
svm.fit(X_train, y_train)

SVC(probability=True)

In [172]:
# train
model_check(y_train, svm.predict(X_train), svm)

Accuracy : 0.5719506624029237

          not paid  paid
not paid      2208  3289
paid          1396  4052

In [173]:
# test
model_check(y_test, svm.predict(X_test), svm)

Accuracy : 0.5697451356536037

          not paid  paid
not paid       696  1104
paid           466  1383

In [176]:
svm.fit(X_train_sc, y_train)
model_check(y_train, svm.predict(X_train_sc), svm)

Accuracy : 0.7211512105984468

          not paid  paid
not paid      3559  1938
paid          1114  4334

In [178]:
# test
model_check(y_test, svm.predict(X_test_sc), svm)

Accuracy : 0.7218416004384763

          not paid  paid
not paid      1167   633
paid           382  1467